.contact{
  padding: 138px 0 210px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactTitle{
  width: 576px;
  height: 137px;
  background-color: #F4F4F4;
  border-radius: 31px;
  box-shadow: 2px 2px 1px 0px #8c8c8c;

  h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 144px;
    text-align: center;
    text-shadow: 1px 1px 2px #c2c2c2;
  }
}
.contactForm{
  width: 824px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  border-radius: 31px;
  box-shadow: 2px 2px 1px 0px #8c8c8c;
  padding: 53px 122px;
  margin-top: -30px;
}
.contactInput{
  width: 536px;
  height: 45px;
  background-color: #E0E0E0;
  padding: 8px 23px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #898989;
  margin-bottom: 56px;
  outline: none;
  border: none;
}
.contactTextArea{
  width: 536px;
  height: 167px;
  background-color: #E0E0E0;
  padding: 8px 23px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #898989;
  margin-bottom: 21px;
  border: none;
  outline: none;
}
.contactText{
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 175%;
  text-align: center;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37);
}

.contactTextOr{
  margin-bottom: 30px;
}
.portfolioWrap{
  width: 100%;
  padding: 69px 46px;
}

.portfolioList{
  li{
  font-weight: 400;
  font-size: 26px;
  line-height: 250%;
  color: #000000;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  span{
    color: $color-primary;
  }

  }
}

