.formWrap{
  padding: 37px 0;
  background-color: #484273;
  border-top: 10px solid #221e43;
  border-bottom: 10px solid #221e43;
}
.formWrapInner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.formText{
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: $color-text-second;

  span{
    font-size: 31px;
  }
}
.formBox{
  display: flex;
  flex-direction: column;
}
.formInput{
  padding: 19px 132px;
  font-size: 31px;
  line-height: 37px;
  color: #626262;
  background-color: #F6F6F6;
  border: none;
  outline: none;
  width: 500px;
}
.formBtn{
  background-color: #FF9832;
  border-radius: 17px;
  border: none;
  color: $color-text-second;
  font-size: 31px;
  line-height: 37px;
  text-align: center;
  padding: 19px 58px;
}
.footerInner{
  padding-top: 42px;
  padding-bottom: 25px;
  background-image: linear-gradient(180deg, #B41E1E 0%, #9D1A1A 42%, #861616 62%, #701313 84.5%, #4E0D0D 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
}
.footerLinks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.listLinks{
  display: flex;
  flex-direction: column;
  align-items: center;

  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }
}
.mainLink{
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-decoration-line: underline;
  color: $color-text-second;
  margin-bottom: 15px;
  text-align: center;
}
.subLink{
  text-align: center;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: $color-text-second;
  text-decoration: none;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
}
.backTotop{
  width: 100%;
  display: block;
  background-color: #891919;
  padding: 4px 0;
  margin-top: 51px;
  text-decoration: none;

  p{
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: $color-text-second;
  text-align: center;
  text-decoration: none;
  }
}
