.headerWrap{
  background-image: 
  linear-gradient(360deg, rgba(180, 30, 30, 0.95) 0%, rgba(133, 22, 22, 0.973064) 65%, rgba(118, 20, 20, 0.98025) 76%, rgba(99, 17, 17, 0.989288) 90%, #4E0D0D 100%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
}
.headerWrapInner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 155px;
}
.navList{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}
.listItemLink{
  color: $color-text-second;
  font-size: 20px;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.contactBtn{
  background-color:#FDFDFD;
  font-size: 20px;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 22px;
  border: none;
}